<div  class="paginate" style="padding-left: 53.8%;">
  <%= will_paginate photos,:class => 'sy-pagination',:previous_label => '<',
                            :next_label => '>',renderer: BootstrapPagination::Rails %>
</div> 