<h1>Photos展示页</h1>
  <div class="row content">

    <!-- ============ 标签链接开始 ============ --> 
    <div class="col-sm-3">
      <h4>Tags</h4>
      <br>
      <div class="btn-group-vertical">
        <% @tags.each do |tag| %>
          <%= render_tag_link(tag) %>
        <% end %>
      </div><br><br>

      <%= link_to "Upload Photo", new_photo_path , class: "btn btn-lg btn-info btn-block" %>
    </div>    <!-- 标签链接结束  -->
    
    <!-- =========== 图片展示开始 ============ -->
    <div class="col-sm-9 photos-list">
     <h3 id="title">All pictures</h3>
        <% @photos.each do |photo| %>
          <%= render "photos_list" , :photo => photo %>
        <% end %>
    </div>    <!-- 图片展示结束 -->
    
    <!-- =========== 分页开始 ============= -->
    <div class="paginate">
      <%= render partial: "paginate", locals: {:photos => @photos} %>
    </div>    <!-- 分页结束 -->

  </div>




<!-- =============== jq部分 =================== -->
<% content_for :handwrite_javascript do %>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
                                               <!-- content_for需要包住script外部链接 -->
  <script>
    $(document).ready(function(){
      // 让选中标签时，处于激活状态
      $(".btn-group-vertical .btn").click(function(){
        $(this).addClass("active").siblings().removeClass("active");
      });
     

      // 提示图片放入框中
      $( ".photos-list" ).on('mouseover',".photo-source",function(){
        $( ".btn-group-vertical" ).attr("id","photo-target");
      })

      $( ".photos-list" ).on('mouseout',".photo-source",function(){
        $( ".btn-group-vertical").removeAttr("id");   //鼠标离开图片移除id
      })


      // 图片拖拽上传
      $( ".photo-source" ).draggable({     //定义拖拽对象
          helper: "clone",
          revert: true,
          opacity: 0.4,
          start: function(evt,ui) {
            $(this).addClass("drag-and-drog");
          },
          stop: function(evt,ui) {
            $(this).removeClass("drag-and-drog");
          }
         
      });

      $( "#untag, #family, #animals, #children" ).droppable({   //定义接受拖拽体
        over: function(event,ui) {
          $( ".btn-group-vertical").removeAttr("id");  // 移除闪烁边框
          var tag = $(this).attr("id");
          $( this ).html('将图片加入' + tag);
          $(this).addClass('font-change');  
        },

        out: function(event,ui) {
          var tag = $(this).attr("id");
          $( this ).html( tag );
          $(this).removeClass('font-change'); 
        },

        drop: function(event,ui) {
          var tag = $(this).attr("id");
          $( this ).html( tag );
          $(this).removeClass('font-change'); 
          if (tag == "untag") {
            tag = "empty";
          }
          var url = ui.draggable.data("url");
          $.ajax({
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            data: "tag=" + tag,
            url: url,
            method: 'PUT',
            dataType: "script",
          })
        }
      });


      //通过文本框修改图片标签
      $(".photos-list").on('mouseover',".source",function(){
        $(this).next().css('visibility','visible');
        $(this).css('visibility','hidden');
        $(this).next().insertBefore($(this));
      });

      $(".photos-list").on('mouseleave',".input-tag",function(){
        $(this).next().insertBefore($(this));
        $(this).prev().css('visibility','visible');
        $(this).css('visibility','hidden');
      });

      $(".photos-list").on('blur',".input-tag",function(){
        var url = $(this).find('input').attr("href");
        var tag = $(this).find('input').val(); 
        $.ajax({
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
          data: "tag=" + tag,
          url: url,
          method: 'PUT',
          dataType: "script",
        })
      });
    })


    // 为分页按钮添加ajax效果
    $('.pagination a').attr('data-remote', 'true')
  </script>  <!-- jq结束 -->
<% end %>
