/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";



/* 基本标签
---------------------------------------------------- */
 h1, h2, h3, h4, h5, h6 { 
	line-height: 1;
}

h1 {
	font-size: 3em; 
	letter-spacing: -2px; 
	margin-bottom: 30px; 
	text-align: center;
}


/* 图片和标签区块
----------------------------------------------------- */
.row.content {
  height: 800px;
}

.title {
 margin-top: 1.1em; 
}

.pagination {
  margin-left: 53%;     
}

.btn-group-vertical {
  width: 80%;    /* 调整标签显示宽度 */
  margin-left: 1.8em;
}


/* 图片
----------------------------------------------------- */
.photo-source {
  cursor: move;
}

.photo-source:hover {
  transform: scale(1.1);    /* 触碰图片放大效果 */
}


/* 页脚
----------------------------------------------------- */
.design-content {
  text-align: center;
  font-weight: 600;
  margin-top: 200px;
}


