/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

/* h tags */
 h1, h2, h3, h4, h5, h6 { 
	line-height: 1;
}

h1 {
	font-size: 3em; 
	letter-spacing: -2px; 
	margin-bottom: 30px; 
	text-align: center;
}

/* h tags end */

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 800px}
    
/* Set gray background color and 100% height */
.photos-content {
  background-color: #f1f1f1;
  height: 100%;
}
    
/* Set black background color, white text and some padding */

/* 产品索引 */
.pro-index img {
  border: 1px solid #787878;
}
.pro-index-font {
  font-size: 14px;
}

.pro-index-font:link{
  color: #787878;
}

.bg-index {
  width: 1200px;
  height: 40px;
  margin: 20px auto;
}

.bg-index-button {
  float: left;
  width: 80px;
  margin-right: 10px;
  font-size: 18px;
  height: 40px;
  background: #F0F0F0;
}




